body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
}

h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 3em;
	line-height: 140%;
}

#contentTable table {
	margin-top: 15px;
	width: 100%;
}

#contentTable thead {
	text-align: left;
	line-height: 40px;
	padding-bottom: 12px;
}

#contentTable tbody {
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #cccccc;
}

#contentTable tbody > tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}

#contentTable td {
	vertical-align: top;
	padding-top: 13px;
	padding-bottom: 10px;
}

article {
	margin-bottom: 20px;
}

.wrapper {
   width: 1170px;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}

#logo {
	width: 150px;
	height: 80px;
	display: block;
	float: left;
	background-image: url(../pictures/infbox_logo.png);
	background-repeat: no-repeat;
	padding-right: 55px;
}

#logo:hover {
	background-position: 0px -80px;
}



#user_nav_header {
	float: right;
	direction: ltr;
	
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#cccccc;
}

#system_nav_header {
	float: left;
	direction: ltr;
	
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#cccccc;
}

#nav_header {
	height: 80px;
	display: block;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D0D0D0),
		color-stop(1, #EFEFEF)
	);
	background-image: -o-linear-gradient(bottom, #D0D0D0 0%, #EFEFEF 100%);
	background-image: -moz-linear-gradient(bottom, #D0D0D0 0%, #EFEFEF 100%);
	background-image: -webkit-linear-gradient(bottom, #D0D0D0 0%, #EFEFEF 100%);
	background-image: -ms-linear-gradient(bottom, #D0D0D0 0%, #EFEFEF 100%);
	background-image: linear-gradient(to bottom, #D0D0D0 0%, #EFEFEF 100%);
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#nav_header nav ul li a {
	display: block;
	
	text-decoration: none;
	
	padding-top: 35px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	
	color: #666666;
	background-color: rgba(204, 204, 204, 0.0);

	
	transition-property: color;
	transition-duration: 0.4s;
	transition-timing-function: linear;

	-webkit-transition-property: color;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: linear;

	
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: linear;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: linear;
}


#nav_header nav ul li a:hover {
	color: #1a1a1a;
	background-color: rgba(204, 204, 204, 1.0);
}



#nav_header nav #active_tab {
	color: #ffffff;
	background-color: #666666;
}


#contentTable {
	margin-top: 42px;
	padding-bottom: 65px;
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #68c519;
}

#contentTable h1 {
	margin-bottom: 20px;
}

#contentTable table a {
	text-decoration: none;
}

#contentTable .fa {
	color: #68c519;
	
	margin-left: 5px;
	margin-right: 2px;
}

#contentTable .fa:hover {
	color: #3d7d02;
}

#contentTable img {
	margin-right: 12px;
}

.textline * {
	display: inline;	
}

.textline p {
	color: #999999;
}

.textline a {
	color: #68c519;
}

.textline a[class = active] {
	color: #cccccc;
}

.numberOfEntries , .showHide {
	float: left;
	margin-right: 28px;
}

.pages {
	text-align: right;
}

#pageFooter {
	margin-top: 12px;
	margin-bottom: 50px;
}

#pageFooter > table {
	width: 100%;
}

#pageFooter .tableLast {
	text-align: right;
}

/* Dropdown */

.submenu:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


nav > ul > li {
    list-style: none;
    float: left;
	
	direction: rtl;
}

nav > ul > li > a {
	direction: ltr;
}

nav ul li:hover > div {
    visibility: visible;	
}

nav ul li div{
    /*display: inline;*/
    visibility: hidden;
    position: absolute;
}


.submenu {
	direction: ltr;
	background: #fcfcfc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #7bea29;
	padding: 10px;
	border-collapse: separate;
	border-spacing: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-box-shadow: 0px 1px 1px 0px #cccccc;
	-webkit-box-shadow: 0px 1px 1px 0px #cccccc;
	box-shadow: 0px 1px 1px 0px #cccccc;	
}


.formTitle {
	font-size: 10pt;
	color: #cccccc;
}


.input {
	width: 200px;
	height: 25px;
	background: #fafafa;
	border: 1px solid grey;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#checkRemember {
	border: 1px solid grey;
	background: #fafafa;
}

.atButton {
	text-align: right;
	margin-top: 10px;
}


/* Submit-Button */
.submitButton{
	margin-top: 15px;
	-moz-box-shadow: 0px 0px 1px 0px #545454;
	-webkit-box-shadow: 0px 0px 1px 0px #545454;
	box-shadow: 0px 0px 1px 0px #545454;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #74db1b),
		color-stop(1, #69c519));
	background-image: -o-linear-gradient(bottom, #74db1b 0%, #69c519 100% );
	background-image: -moz-linear-gradient(bottom, #74db1b 0%, #69c519 100% );
	background-image: -webkit-linear-gradient(bottom, #74db1b 0%, #69c519 100% );
	background-image: -ms-linear-gradient(bottom, #74db1b 0%, #69c519 100% );
	background-image: linear-gradient(to bottom, #74db1b 0%, #69c519 100% );

	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #69c519;
	display:inline-block;
	color:#f5f5f5;
	font-family: 'Ubuntu', sans-serif;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:70px;
	text-decoration:none;
	text-align:center;
}
.submitButton:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1, #69c519),
		color-stop(0, #74db1b));
	background-image: -o-linear-gradient(bottom, #69c519 0%, #74db1b 100% );
	background-image: -moz-linear-gradient(bottom, #69c519 0%, #74db1b 100% );
	background-image: -webkit-linear-gradient(bottom, #69c519 0%, #74db1b 100% );
	background-image: -ms-linear-gradient(bottom, #69c519 0%, #74db1b 100% );
	background-image: linear-gradient(to bottom, #69c519 0%, #74db1b 100% );
}

.submitButton:active {
	position:relative;
	top:1px;
}



