

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
}

h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 3em;
	font-weight: 300;
	line-height: 140%;
}

#wrapper {
   width: 1170px;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: auto;
}